<%= form_for(@plan, html: {class: 'form-horizontal'}) do |f| %>
  <legend>イベント</legend>
  <% if @plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
      <% @plan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :title, "タイトル", {class: 'control-label'} %>
    <div class="controls">
      <%= f.text_field :title, {class: 'input-xxlarge'} %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :detail, "詳細", {class: 'control-label'} %>
    <div class="controls">
      <%= f.text_area :detail, {class: 'input-xxlarge', rows: 15} %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :size, "人数", {class: 'control-label'} %>
    <div class="controls">
      <%= f.text_field :size, {class: 'input-mini'} %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <%= f.submit '登録', {class: 'btn'} %>
    </div>
  </div>
<% end %>
